<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title pull-left">Lista de usuários cadastrados</h4>
                        <button mat-raised-button type="submit" class="btn btn-white pull-right" routerLink="/user/new">Novo usuário</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Sobrenome
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Data de nascimento
                                    </th>
                                    <th>
                                        Escolaridade
                                    </th>
                                    <th>
                                        Ações
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>
                                            {{ user.id }}
                                        </td>
                                        <td>
                                            {{ user.name }}
                                        </td>
                                        <td>
                                            {{ user.lastName }}
                                        </td>
                                        <td>
                                            {{ user.email }}
                                        </td>
                                        <td>
                                            {{ user.birthday | date:'dd/MM/yyyy' }}
                                        </td>
                                        <td>
                                            {{ GraduationEnum[user.graduation] }}
                                        </td>
                                        <td>
                                            <button
                                                mat-raised-button
                                                type="button"
                                                matTooltip="Editar"
                                                class="btn btn-primary btn-link btn-just-icon"
                                                [routerLink]="['/user/edit', user.id]">
                                                <i class="material-icons">create</i>
                                            </button>
                                            <button
                                                mat-raised-button
                                                type="button"
                                                matTooltip="Apagar"
                                                class="btn btn-danger btn-link btn-just-icon"
                                                (click)="deleteUser(user)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
