<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Usuários</h4>
                        <p class="card-category">Lista de usuários cadastrados</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Sobrenome
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Data de nascimento
                                    </th>
                                    <th>
                                        Escolaridade
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Thais
                                        </td>
                                        <td>
                                            Oliveira
                                        </td>
                                        <td>
                                            email@email.com
                                        </td>
                                        <td>
                                            25/11/1994
                                        </td>
                                        <td>
                                            Superior
                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  